<%= form_for(@res_allocation) do |f| %>
  <% if @res_allocation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@res_allocation.errors.count, "error") %> prohibited this res_allocation from being saved:</h2>

      <ul>
      <% @res_allocation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br />
    <%= f.text_field :date %>
  </div>
  <div class="field">
    <%= f.label :project %><br />
    <%= f.text_field :project %>
  </div>
  <div class="field">
    <%= f.label :resource %><br />
    <%= f.text_field :resource %>
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :hours %><br />
    <%= f.time_select :hours %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
