<%= javascript_include_tag "jquery.min","jquery.autocomplete"%>
<%= stylesheet_link_tag "jquery.autocomplete"%>
<script type="text/javascript">  
  $(document).ready(function() {
    $("#project_title").autocomplete("<%=get_projects_path%>", {
      width: 275,
      matchContains: true,
      selectFirst: false
    });
    $("#project_title").result(function(event, data, formatted) {
       if(data[0]!="Not Found"){
         $("#project_title").val(data[0]);
         $("#res_allocation_project_id").val(data[1]);
       }
       else
         $("#project_title").val("");
    });
    $("#resource_name").autocomplete("<%=get_resources_path%>", {
      width: 275,
      matchContains: true,
      selectFirst: false
    });
    $("#resource_name").result(function(event, data, formatted) {
       if(data[0]!="Not Found"){
         $("#resource_name").val(data[0]);
         $("#res_allocation_resource_id").val(data[1]);
       }
       else
         $("#resource_name").val("");
    });
  });

</script>

<h2>Date: <%=@allocation_date.value.strftime("%m-%d-%Y")%></h2>
<%= form_for @res_allocation, :html => { :class => 'form-horizontal' } do |f| %>
<!--  <div class="control-group">-->
<!--    <%#= f.label :date_id, :class => 'control-label' %>-->
<!--    <div class="controls">-->
      <%= f.hidden_field :allocation_date_id, :value=>@allocation_date.id , :class => 'number_field' %>
<!--    </div>-->
<!--  </div>-->
 <table class="table table-striped table-bordered" id="search_fields" >
    <tr>	 
       <td>
           <%= f.select :project_id, Project.all.map {|p| [p.title, p.id] }, {:include_blank => '- Select Project -'}, :required => true %>
           <%#= text_field_tag :project_title,'', :autocomplete =>"on",  :placeholder => 'Projects'%>  
           <%#=f.hidden_field :project_id%>     
       </td>
         <td>
          
           <%= f.select :resource_id, Resource.all.map {|r| [r.name, r.id] }, {:include_blank => '- Select Resource -'}, :required => true %>
           <%#= text_field_tag :resource_name,'', :autocomplete =>"on",  :placeholder => 'Resources'%>  
           <%#=f.hidden_field :resource_id%>     
        </td>
        <td>
				  <%= f.time_select :hours, :class => 'time_select' %>
         </td>
     </tr> 
     <tr>
      <td colspan="3" style="text-align:center">
        <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                res_allocations_path, :class => 'btn' %>
      </td>
     </tr>
  </table>
<% end %>
