<%- model_class = ResAllocation -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:project) %></th>
      <th><%= model_class.human_attribute_name(:resource) %></th>
      <th><%= model_class.human_attribute_name(:hours) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @res_allocations.each do |res_allocation| %>
      <tr>
        <td><%= res_allocation.project.title %></td>
        <td><%= res_allocation.resource.name %></td>
        <td><%= res_allocation.hours.strftime("%Hhr %Mmin") %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_res_allocation_path(res_allocation), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      res_allocation_path(res_allocation),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_res_allocation_path,
            :class => 'btn btn-primary' %>
